body {
    font-family: sans-serif;
    padding: 2%;
    margin: 10;
}

.content {
    display: inline-block;
    padding: 2%;
    margin: 10;
    border: 2px ridge;
    border-radius: 10px;
    align-items: center;
    /* text-align: center; */
}

img {
    max-height: 10%;
    max-width: 10%;
}

a.button {
    background-color: red;
    border-radius: 20px 20px;
    color: white;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

a.button_index {
    background-color: red;
    color: white;
    border: 2px solid #f44336;
}

a.button_index:hover {
    background-color: white;
    color: black;
}

.button {
    background-color: red;
    border-radius: 20px 20px;
    color: white;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button_general {
    background-color: red;
    color: white;
    border: 2px solid #f44336;
}

.button_general:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}