<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image.png" rel="icon" size="50x50" href="{{ url_for('static', filename='css/title-logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> {% block head%}{%endblock%}
</head>

<body>
    <img src="{{ url_for('static', filename='css/bookflix logo.png') }}"> {% block body%}{%endblock%}
</body>

</html>