{% extends 'base.html'%} {% block head %}
<title>Login</title>
{% endblock %} {%block body%}
<form method="get">
    <div class="content">
        <h1>Log In</h1>
        <b><label for="email">Email:</label></b><br>
        <input type="text" name="email" required placeholder="email"></input><br><br>
        <b><label for="password">Password:</label></b><br>
        <input type="text" name="password" required placeholder="password"></input><br><br>
        <button type="submit" class="button button_general">Login</button>
    </div>

</form>
{% endblock %}