{% extends 'base.html'%} {%block head%}
<title>Register</title>
{%endblock%} {%block body%}
<div class="content">
    <form method="post">
        <h1>Register</h1>
        <p>
            <b><label for="content1">First Name:</label></b><br>
            <input type="text" name="content1" required placeholder="first name"></input><br><br>
            <b><label for="content2">Last Name:</label></b><br>
            <input type="text" name="content2" required placeholder="last name"></input><br><br>
            <b><label for="content2">Username:</label></b><br>
            <input type="text" name="username" required placeholder="username"></input><br><br>
            <b><label for="email">Email:</label></b><br>
            <input type="text" name="email" required placeholder="email"></input><br><br>
            <b><label for="password">Password:</label></b><br>
            <input type="password" name="password1" required placeholder="set password" id="pass1"></input><br>
            <input type="checkbox" onclick="show1()">Show Password <br><br>
            <b><label for="password">Confirm Password:</label></b><br>
            <input type="password" name="password2" required placeholder="verify password" id="pass2"></input><br>
            <input type="checkbox" onclick="show2()">Show Password <br><br>
            <b><label for="security">Security Question:</label></b><br>
            <input type="text" name="security" required placeholder="Enter your favourite subject"></input><br>
            <label style="font-size:small;color:red">*When you forget your password, this will work as a recovery option.</label><br>
        </p>
        <button type="submit" class="button button_general" onclick="verify()">Register</button>

    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/css/public/register.js" type="text/javascript"></script>
{%endblock%}